@import url(../../node_modules/bulma/css/bulma.css);
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap";
body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2d2a; }

.game {
  position: relative;
  padding-top: 32px; }

.ship,
.display-rows,
.display-columns,
.player-name,
.sunken-ship,
.dialog,
.new-game {
  font-family: "Roboto Slab", serif; }

.new-game,
.dialog {
  width: 500px;
  margin: 20px auto 0;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  color: #bdc9b7; }

.dialog-display-icon {
  height: 200px;
  width: 200px;
  margin-bottom: 20px; }

.new-game-text,
.username-fields {
  margin-bottom: 14px; }

.button {
  width: 140px;
  margin-top: 20px;
  background-color: #688c57;
  border-color: #506e3c;
  box-shadow: 3px 4px black;
  font-family: inherit;
  font-size: 22px;
  color: #bdc9b7; }

.board-container {
  position: relative;
  top: 15px;
  width: 530px;
  height: 530px;
  margin: 0 auto 44px; }

.player-name {
  position: absolute;
  left: 540px;
  font-size: 54px;
  line-height: 60px;
  text-align: left;
  color: #4d8fb3; }

.player-name,
.ship,
.sunken-ship {
  text-shadow: 2px 2px #333; }

.board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
  grid-gap: 2px;
  background-color: #506e3c;
  border: 5px solid #506e3c; }

.display-columns,
.display-rows {
  position: absolute;
  display: flex;
  justify-content: space-around;
  font-size: 20px; }

.display-columns {
  top: -22px;
  width: 526px;
  color: #bdc9b7; }

.display-rows {
  left: -24px;
  height: 526px;
  flex-direction: column;
  text-align: right;
  color: #bdc9b7; }

.square {
  background-color: #bdc9b7;
  cursor: pointer; }

.attack-result {
  position: relative;
  z-index: 3; }

.ship {
  position: relative;
  z-index: 2;
  font-size: 20px; }

.ship,
.sunken-ship {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 10px; }

.carrier {
  background-color: #53777a;
  font-size: 36px; }

.battleship {
  background-color: #542437;
  font-size: 30px; }

.destroyer,
.submarine {
  font-size: 24px; }

.destroyer {
  background-color: #c02942; }

.submarine {
  background-color: #d95b43; }

.patrol-boat {
  background-color: #ecd078;
  font-size: 16px;
  color: #2e2d2a;
  text-shadow: none; }

.display-sunken-ships {
  position: absolute;
  bottom: 0;
  left: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  color: red; }

.sunken-ship {
  height: 50px;
  width: 150px;
  margin-top: 4px;
  font-size: 24px; }

@media screen and (max-device-width: 768px) {
  .board-container {
    width: 420px;
    height: 420px; }

  .board {
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(10, 40px);
    grid-gap: 1px; }

  .display-columns {
    top: -22px;
    width: 416px; }

  .display-rows {
    left: -24px;
    height: 416px; }

  .player-name,
  .display-sunken-ships {
    left: 432px; }

  .player-name {
    font-size: 28px;
    line-height: 33px; } }
@media screen and (max-device-width: 375px) {
  body {
    height: 100vh;
    width: 100vw;
    overflow: none; }

  .game {
    padding-top: 0; }

  .new-game,
  .dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0; }

  .dialog-display-icon {
    margin-top: 22px; }

  .board-container {
    width: 320px;
    height: 320px;
    padding-top: 53px;
    margin-bottom: 66px; }

  .board {
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 30px);
    grid-gap: 1px; }

  .display-columns,
  .display-rows {
    font-size: 15px; }

  .display-columns {
    top: 30px;
    width: 314px; }

  .display-rows {
    left: -24px;
    height: 314px; }

  .player-name,
  .display-sunken-ships {
    left: 0;
    top: -5px; }

  .display-sunken-ships {
    margin-top: 10px;
    left: 90px;
    height: 20px;
    flex-direction: row;
    align-items: baseline;
    font-size: 15px; }

  .player-name {
    font-size: 24px;
    line-height: 30px; }

  .carrier {
    font-size: 24px; }

  .destroyer,
  .submarine {
    font-size: 15px; }

  .battleship {
    font-size: 20px; }

  .patrol-boat {
    font-size: 13px; }

  .sunk-text {
    display: none; }

  .sunken-ship {
    height: 14px;
    width: 60px;
    margin-top: 0;
    margin-left: 4px;
    font-size: 10px; } }

/*# sourceMappingURL=custom.css.map */
